@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400&display=swap");
ul, li {
  list-style: none;
  padding: 0;
  margin: 0; }

body {
  margin: 0;
  font-weight: 300;
  font-family: "Noto Sans KR", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.fon-barlow {
  font-family: 'Barlow'; }

/* Table Styles */
.table-wrapper {
  margin: 10px 70px 70px;
  box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2); }

.fl-table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white; }

.fl-table td, .fl-table th {
  text-align: center;
  padding: 8px; }

.fl-table td {
  border-right: 1px solid #f8f8f8;
  font-size: 12px; }

.fl-table thead th {
  color: #555;
  background: #f1f1f1; }

.fl-table tr:nth-child(even) {
  background: #F8F8F8; }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Responsive */
@media (max-width: 767px) {
  .fl-table {
    display: block;
    width: 100%; }
  .table-wrapper:before {
    content: "Scroll horizontally >";
    display: block;
    text-align: right;
    font-size: 11px;
    color: white;
    padding: 0 0 10px; }
  .fl-table thead, .fl-table tbody, .fl-table thead th {
    display: block; }
  .fl-table thead th:last-child {
    border-bottom: none; }
  .fl-table thead {
    float: left; }
  .fl-table tbody {
    width: auto;
    position: relative;
    overflow-x: auto; }
  .fl-table td, .fl-table th {
    padding: 20px .625em .625em .625em;
    height: 60px;
    vertical-align: middle;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    width: 120px;
    font-size: 13px;
    text-overflow: ellipsis; }
  .fl-table thead th {
    text-align: left;
    border-bottom: 1px solid #f7f7f9; }
  .fl-table tbody tr {
    display: table-cell; }
  .fl-table tbody tr:nth-child(odd) {
    background: none; }
  .fl-table tr:nth-child(even) {
    background: transparent; }
  .fl-table tr td:nth-child(odd) {
    background: #F8F8F8;
    border-right: 1px solid #E6E4E4; }
  .fl-table tr td:nth-child(even) {
    border-right: 1px solid #E6E4E4; }
  .fl-table tbody td {
    display: block;
    text-align: center; } }

.t_type1 th, .t_type1 td {
  border: 0; }

.t_type1 {
  width: 100%;
  border-spacing: 0;
  border-top: 2px solid #383a4a;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #d5d5d5;
  border-collapse: collapse; }

.t_type1 tr {
  text-align: center; }

.t_type1 thead th {
  padding: 10px 0;
  color: #333;
  line-height: 18px;
  background: #f8f8f8;
  border-bottom: 1px solid #a5a5a5;
  border-left: 1px solid #a5a5a5; }

.t_type1 thead th:first-child {
  border-left: 0; }

.t_type1 thead tr th.fnone {
  border-left: 0 !important; }

.t_type1 thead th[colspan] {
  border-bottom: 1px solid #a5a5a5; }

/* th가 두줄이상으로 합쳐질때 border-bottom 값 */
.t_type1 thead th[rowspan] {
  border-right: 1px solid #a5a5a5; }

/* th가 두줄이상으로 합쳐질때 border-right 값 */
.t_type1 thead th[rowspan]:last-child {
  border-right: 0; }

.t_type1 thead th.none {
  border-bottom: 1px solid #a5a5a5; }

/* th가 한줄일때 class추가 */
.t_type1 tbody th {
  padding: 10px;
  font-weight: bold;
  background: #fafafa;
  border-left: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5; }

.t_type1 tbody th:first-child {
  border-left: 0; }

.t_type1 tbody th[rowspan] {
  border-right: 1px solid #d5d5d5; }

.t_type1 tbody tr:first-child th, .t_type1 tbody tr:first-child td {
  border-top: 1px solid #d5d5d5; }

.t_type1 tbody td {
  padding: 10px;
  background: #fff;
  border-left: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5; }

.t_type1 tbody td:first-child {
  border-left: 0; }

.t_type1 tbody td[rowspan] {
  border-right: 1px solid #d5d5d5; }

.t_type1 tbody td[rowspan]:last-child {
  border-right: 0; }

.t_type1 tbody td.left {
  text-align: left; }

.t_type1 tbody td + th {
  border-left: 1px solid #d5d5d5; }

.t_type1 tfoot th {
  padding: 10px 5px;
  background: #fafafa;
  border-right: 1px solid #d5d5d5; }

.t_type1 tfoot td {
  padding: 10px 5px;
  border-left: 1px solid #d5d5d5; }

.t_type1 tfoot td[colspan] {
  border-left: 0; }
